html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #f1e9e95b;
    max-width: 850px;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}

.strong {
    font-weight: bold;
}

.article__akapit {
    color: black;
    font-size: 17px;
}

.div__akapit {
    color: black;
    font-size: 17px;
}

.image__akapit {
    color: black;
    font-size: 17px;
}

.list__akapit {
    color: black;
    font-size: 17px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.tableCell {
    text-align: center;
    border: 1px solid rgba(51, 33, 33, 0.534);
    padding: 5px;
    background-color: rgba(221, 168, 168, 0.685);
    vertical-align: middle;
    font-size: 17px;
}

.alignment {
    vertical-align: auto;

}

.tableRow:nth-child(even) {
    background-color: crimson;
}

.tableRow:hover {
    background-color: rgb(61, 46, 46);
}

.container {
    overflow-x: auto;
}

.footer {
    margin-top: 20px;
    background-color: rgb(226, 65, 97);
    font-size: 20px;
    padding-left: 200px;
}

.caption {
    margin: 15px;
    font-size: 20px;
}

.list {
    margin: 2px;
}
